{% extends "base.html" %}

{% block content %}
<h1>{{ header }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ('csrf_token', 'submit') %}
        <p>
            {{ field.label() }}<br>
            {{ field(class="form-control" if field.type != 'BooleanField' else "") }}
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary", value=title) }}</p>
    {{message}}
</form>
{% endblock %}
